name: Keep Streamlit Apps Alive

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch: # Permite ejecucion manual inmediata

jobs:
  maintenance:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Playwright and Dependencies
        run: |
          pip install playwright
          playwright install chromium --with-deps

      - name: Run Maintenance Script
        run: python wake_up_app.py
