name: Keep Streamlit Apps Alive

on:
  schedule:
    - cron: "*/15 * * * *"  
  workflow_dispatch:

jobs:
  ping_apps:
    runs-on: ubuntu-latest
    steps:
      - name: Wake up Streamlit Apps
        run: |
          curl -I -L -A "Mozilla/5.0" https://forecast-demand-retail.streamlit.app/
          curl -I -L -A "Mozilla/5.0" https://smartretail-crm-intelligence.streamlit.app/
          curl -I -L -A "Mozilla/5.0" https://price-optimization-model.streamlit.app/
          curl -I -L -A "Mozilla/5.0" https://socioeconomic-status-classification-model.streamlit.app/
          curl -I -L -A "Mozilla/5.0" https://firebird-erp-analytics-dashboard.streamlit.app/
          curl -I -L -A "Mozilla/5.0" https://risk-rate-estimation.streamlit.app/
          curl -I -L -A "Mozilla/5.0" https://graficodinamico.streamlit.app/
          curl -I -L -A "Mozilla/5.0" https://mathematical-modeling-of-covid.streamlit.app/
          curl -I -L -A "Mozilla/5.0" https://circumbinary-planet-stability.streamlit.app/
